@import '../../../../index.scss';

header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
        cursor: pointer;
        width: 3em;
    }
}