
.status-info {
    margin-top: 10px;
    
    .status-bar {
        min-width: 100%;
        min-height: 20px;
    }
    
    .status-bar-text {
        position: relative;
        bottom: 20px;
        text-align: center ;
    }
}

