@import '../../../index.scss';

.listOfSkills {
    display: flex;
    justify-content: space-evenly;
    background-color: $dark-component;
    min-width: calc(60vw - $default-margin * 2);
    margin-top: $default-margin - 6px;
    border: 1px solid white;
    border-radius: 5px;
    // margin: $default-margin;
    // padding: $default-padding;
    color: $text-dark-color;
    .skillSquare {
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}