.listOfSkills {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    .skillSquare {
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
}