@import '../../index.scss';
$blue-button: #3498DB;
$blue-button-hover: #57a7dd;
$blue-button-active: #1a4d6e;
$trans-button-font-hover: #0073c0;
$trans-button-bg-hover: #9bbed6;
$trans-button-bg-active: #365162;