$dark-background: #1E1E1E;
$dark-component: #303030;
$text-dark-color: #EEEEEE;
$default-margin: 20px;
$default-padding: 10px;

:root {
  font-family: "Varela", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: $dark-background;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

.wrapper-menu {
  padding-inline: 70px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
