$dark-background: #121212;
$dark-component: #282828;
$text-dark-color: #EEEEEE;
$default-margin: 20px;
$default-padding: 10px;
$button-bg-color: #702c6c;
$button-bg-color-hover: #882c84;
$button-bg-color-active: #50244c;

:root {
  font-family: "Varela", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: $dark-background;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,body {
  min-height: 100vh;
}

.wrapper-menu {
  padding-inline: 2.4rem;
}

@media (prefers-color-scheme: light) {
  
}
