$dark-background: #121212;
$dark-component: #282828;
$text-dark-color: #EEEEEE;
$default-margin: 20px;
$default-padding: 10px;
$button-bg-color: #702c6c;
$button-bg-color-hover: #882c84;
$button-bg-color-active: #50244c;
$padding-menu: 6rem;
$footer-hg: 6rem;

:root {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: $dark-background;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,body {
  min-height: 100vh;
}

.wrapper-menu {
  padding-inline: 2.4rem;
}

@media (prefers-color-scheme: light) {
  
}
